#header {
  padding-top: 4%;
  padding-bottom: 1%;
  background-color: azure;
}

#profilePhoto {
  border-radius: 25%;
  height: 90%;
  width: auto;
}

#header p {
  font-size: 14pt;
}

#cards {
  padding-top: 1%;
}



body {
  text-align: center;
}

a {
  color: black;
}
