#header {
  padding-top: 4%;
  padding-bottom: 3%;
  background-color: azure;
}

#profilePhoto {
  border-radius: 50%;
}

body {
  text-align: center;
}

a {
  color: black;
}

#portrait {
  border-radius: 100%;
  padding-bottom: 2%;
}
